<nav>
  <a href="/">Home</a> |
  <a href="/restaurants">Restaurants</a> 
</nav>

<h1>Make a New User!</h1>

<body>

<form action = '/users' method = "POST">
<label>Name:</label>
<input type="text" name="user[name]">
<input type="submit" value="submit">
</form>

</body>