<h1>Welcome to our version of yelp or whatever</h1>

<h2><a href = "/users">Click Here to see users</a></h2>
<h2><a href = '/restaurants'>Click Here to see restaurants</a></h2>
<h3><a href = '/users/new'>Create a New User</a></h3>